@model DM2.Models.Articles

@{
    ViewBag.Title = "Details";
}
<link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
<head>
    <div class="log">@Html.Partial("_LoginPartial")</div>
</head>
<h2>Details</h2>

<div>
    <h4>Articles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sections.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sections.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdArticle }) |
    @Html.ActionLink("Back to List", "Index")
</p>
