@*@model IEnumerable<DM2.Models.Articles>*@
@model PagedList.IPagedList<DM2.Models.Articles>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}
<link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
<head>
    <div class="log">@Html.Partial("_LoginPartial")</div>
</head>
<h2>Artículos creados</h2>

<p>
    @Html.ActionLink("Crear artículo", "Create")
</p>
@using (Html.BeginForm("Index", "Articles", FormMethod.Get))
{
    <p>
        Buscador: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Seccion", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Publicado por:", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Titulo", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Fecha", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sections.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.URL)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.ImgURL)
                </td>*@
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdArticle }) |
                @Html.ActionLink("Más", "Details", new { id = item.IdArticle }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdArticle })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@*@model IEnumerable<DM2.Models.Articles>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sections.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.UserName)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sections.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdArticle }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdArticle }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdArticle })
            </td>
        </tr>
    }

    </table>*@
