<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title TDM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Styles/StyleSheet2.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />*@
    
</head>
<body style="width:100% !important;">
    <div class="container-fluid">
        <div class="row">
                <img src="~/img/bg.4f6f1e72.png" class="img-header" width="100%" height="250px"></img>
            <div class="row"></div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="nombrepag">
                    <span class="blue">|</span>TW<span class="blue">0 </span>D<span class="red">I</span>FF<span class="red">E</span>R<span class="red">E</span>NT <span class="comic-san">MINDS</span><span class="red">|</span>
                </h1>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <section >
        <nav class="main-menu">
            <ul>
                <li class="sombra">
                     <img class="icons" src="~/img/home-24px.svg">@Html.ActionLink("CRUD TDM", "Index", "Home")</img>
                </li>
                <li class="sombra">
                    <img class="icons" src="~/img/laptop-24px.svg"> @Html.ActionLink("Artículos", "Index", "Articles")</img>
                </li>
                <li class="sombra">
                    <img class="icons" src="~/img/credit_card-24px.svg">@Html.ActionLink("Tags", "Index", "Tags")</img>
                </li>
                <li class="sombra">
                    <img class="icons" src="~/img/folder-24px.svg">@Html.ActionLink("Secciones", "Index", "Sections")</img>
                </li>
            </ul>

        </nav>
    </section>
    <section id="navbar">
        @*<li class="sombra">
            <img class="icons2" src="~/img/assignment-24px.svg">@Html.ActionLink("Registrarse", "Register", "Account")</img>
        </li>*@
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                @*<p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>*@
            </footer>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
@*<!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title TDM</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <img src="~/img/bg.4f6f1e72.png" class="nav" width="100%" height="250px" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#4FA0CB;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <img src="~/img/kzekbwx7mioy.jpg" style="width: 1230px;" />
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("CRUD TDM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Artículos", "Index", "Articles")</li>
                        <li>@Html.ActionLink("Tags", "Index", "Tags")</li>
                        <li>@Html.ActionLink("Secciones", "Index", "Sections")</li>
                        <li>@Html.ActionLink("Usuarios", "Index", "Users")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", false)
    </body>
    </html>*@


@*<!DOCTYPE html>
    <html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
