@{
    var model = (DM2.Models.LoginAdminViewModel)ViewBag.Admin;
}

@if (ViewBag.Exist != null && ViewBag.Exist == true)
{
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Iniciar sesión @User.Identity.Name</h5>
                    <button type="button" class="close" aria-label="Close" onclick="location.href='@Url.Action("Index", "Clientes")'">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("LoginAdmin", "Account", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form" }))
                    {
                        <ul id="errors" class="text-danger"></ul>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label for="Password">Contraseña</label>
                            @Html.PasswordFor(m => model.Password, new { @class = "form-control formulario1", placeholder = "Contraseña", @id = "Password", @aria_describedby = "passwordHelp" })
                            <small id="passwordHelp" class="form-text text-muted">Nunca compartas tu contraseña con nadie más.</small>
                            @Html.ValidationMessageFor(m => model.Password, "", new { @class = "text-danger" })
                        </div>
                    }
                </div>
                <div class="modal-footer">


                    <!--<input onclick="@Url.Action("Index", "Home")" value="Cancelar" type="button" class="btn botonstyle3"/>-->
                    <button id="comprobar" type="button" class="btn btn-success botonaceptar">Comprobar</button>
                </div>
            </div>
        </div>
    </div>
}

